:root {
    --dark-purple: rgb(65, 63, 63);
    --white: rgb(141, 154, 155);
    --light-purple: rgb(157, 133, 178);
    --grey-purple: rgb(16, 15, 15);
    --red: crimson;
    --green: green;
    --board-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 8vh;
}

body {
    font-family: 'Cabin Sketch', cursive;
    background-color: var(--dark-purple);
    color: var(--white);
    margin: 0%;
}

#score-board {
    border-radius: 1.5vh;
    background-color: var(--white);
    color: var(--grey-purple);
    box-sizing: border-box;
    box-shadow: -5px 5px 5px var(--grey-purple);
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 10px;
    overflow-x: hidden;
    padding: 8px;
}

.question-list {
    display: flex;
    flex-direction: column;

    margin: 0vh 3vh 0vh 3vh;
    height: var(--board-height);
}

.question-card {
    font-size: 5vh;
    width: ATUO;
    color: var(--grey-purple);
    background-color: var(--light-purple);
    border-radius: 5px;
    margin: 12px 0px 12px 0px;
    padding: 2vw;
}

.answers {
    flex-wrap: wrap;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vh;
    border-radius: 1.5vh;
}
.option:hover {
    transform: scale(1.05);
}
